//! **************************************************************************
// Written by: Map P.68d on Tue Dec 25 16:38:14 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "J14" LEVEL 1;
COMP "din" LOCATE = SITE "AD11" LEVEL 1;
COMP "vdd1" LOCATE = SITE "AE9" LEVEL 1;
COMP "vdd2" LOCATE = SITE "AC8" LEVEL 1;
COMP "sync" LOCATE = SITE "AD9" LEVEL 1;
COMP "clk_out" LOCATE = SITE "AM13" LEVEL 1;
SCHEMATIC END;

