//! **************************************************************************
// Written by: Map P.68d on Thu Jan 17 14:40:40 2019
//! **************************************************************************

SCHEMATIC START;
COMP "sync" LOCATE = SITE "AD9" LEVEL 1;
COMP "clk" LOCATE = SITE "J14" LEVEL 1;
COMP "din" LOCATE = SITE "AD11" LEVEL 1;
COMP "clk_out" LOCATE = SITE "AM13" LEVEL 1;
COMP "clk_out_1" LOCATE = SITE "AK9" LEVEL 1;
COMP "sync_1" LOCATE = SITE "AJ10" LEVEL 1;
COMP "vdd1" LOCATE = SITE "AE9" LEVEL 1;
COMP "vdd2" LOCATE = SITE "AC8" LEVEL 1;
COMP "din_1" LOCATE = SITE "AL11" LEVEL 1;
SCHEMATIC END;

