//! **************************************************************************
// Written by: Map P.68d on Thu Dec 20 14:59:57 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "H19" LEVEL 1;
COMP "din" LOCATE = SITE "AD11" LEVEL 1;
COMP "led" LOCATE = SITE "AE11" LEVEL 1;
COMP "clk_out" LOCATE = SITE "AM13" LEVEL 1;
COMP "sync_out" LOCATE = SITE "AD9" LEVEL 1;
COMP "c_led" LOCATE = SITE "AM12" LEVEL 1;
COMP "clk_led" LOCATE = SITE "AF11" LEVEL 1;
COMP "reset" LOCATE = SITE "G7" LEVEL 1;
SCHEMATIC END;

